<footer>
  <div class="container">
    <div class="footer-col">
      Matthew Waliman<br/>
      <!-- <a href="mailto:{{ site.email }}">{{ site.email }}</a> <br/> -->
      Last updated {{ site.time | date: '%B %Y'}}
    </div>

    <div class="footer-col site-desc"> <a href="https://github.com/domoritz/domoritz.github.io"> Site Template by Dominik Moritz</a></div>
  </div>
</footer>


<!-- 
<div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Matthew Waliman</li><li><a class="u-email" href="mailto:mwaliman@ucla.edu">mwaliman@ucla.edu</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
            <li><a href="https://github.com/andrewhead"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">andrewhead</span></a></li>

            <li><a href="https://www.twitter.com/drewmikehead"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">drewmikehead</span></a></li>
        </ul>
</div>

      
    </div> -->